<#@ template language="C#" debug="True" #>
<#@ output extension="txt" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="Dddml.Core.Domain" #>
<#@ include file="T4Toolbox.tt" #>
<#@ include file="%DddmlDotNetToolsSolutionDir%\Dddml.T4.Templates\Sql\NHibernate\RViewsCreationTemplate.tt" #>
<#@ include file="$(SolutionDir)Dddml.Wms.Common\Generated\LoadBoundedContext.tt" #>
<#

	var aggregates = new List<Aggregate>();
	foreach (var agg in mviewObjects)
	{
		if (agg.Name.StartsWith("Account")) { continue; }
		aggregates.Add(agg);
	} 
	
	var template = new RViewsCreationTemplate(aggregates);
	template.RenderToFile(String.Format("CreateRViews.sql", ""));      
	
#>
